<!DOCTYPE html>
<!-- Borrowed here: https://github.com/ShubhamBansal1997/crud-app-vuejs-django -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue-js | Django | Crud App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple crud app made with the vue js and django">
    <meta name="keywords" content="vuejs, django, crudapp, restapi">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="static/css/main.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue-resource"></script>
  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <h1>Get info about number</h1>
        </div>
        <div class="row">
          <div class="form-inline my-2 my-lg-0">
            <label class="form-inline mr-sm-2" for="number">Please enter number in MSISDN format (example: 79173453223)</label>
            <input class="form-control mr-sm-2" type="number" placeholder="Number" v-model="number" aria-label="Number">
            <button class="btn btn-outline-success my-2 my-sm-0" v-on:click="get_info">Get Info</button>
          </div>
        </div>
        <table class="table table-striped table-bordered">
            <tbody>
                <tr v-for="row in data">
                    <td>${ row.key }</td>
                    <td>${ row.value }</td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
    </div>
    <script src="static/js/main.js" type="text/javascript"></script>
  </body>
</html>
